<!DOCTYPE html>
<html>
  <head>
    <title>Home | Task Manage</title>
  </head>
  <body>
    <header>
      <p>Home</p>
      <ul>
        <li><%= link_to "タスク一覧", index_path%></li>
        <li><%= link_to "タスク追加", new_path%></li>
      </ul>
    </header>
  </body>
</html>