<!DOCTYPE html>
<html>
  <head>
    <title>Home | Task Manage</title>
  </head>
  <body>
    <header>
      <% provide(:title, 'Home') %>
      <h1>Home</h1>
      <ul>
        <il><%= link_to "タスク一覧", index_path, class: "btn btn-lg btn-primary" %></li>
        <il><%= link_to "タスク追加", new_path, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </header>
  </body>
</html>