<!DOCTYPE html>
<html>
  <head>
    <title>タスク追加 | Task Manage</title>
  </head>
  <body>  
    <header>
      <p>タスク追加</p>
      <ul>
        <li><%= link_to "Home", root_url%></li>
        <li><%= link_to "タスク一覧", task_list_path%></li>
      </ul>
    </header>
  </body>
</html>