<!DOCTYPE html>
<html>
  <head>
    <title>タスク一覧 | Task Manage</title>
  </head>
  <body>
    <header>
      <p>タスク一覧</p>
      <ul>
        <li><%= link_to "Home", root_url%></li>
        <li><%= link_to "タスク追加", new_task_path%></li>
      </ul>
    </header>
    <div>
      <ul>
        <li>hogehoge</li>
        <li>fugafuga</li>
        <li>hogefuga</li>
        <li>fugahoge</li>
      </ul>
    </div>
  </body>
</html>